// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
html{
	font-size: 62.5%;
}

.headingfonts(){
	font-family: 'Hepta Slab', serif;
}

.bodyfonts(){
	font-family: 'Titillium Web', serif;	
	font-size: 1.6rem;
}

header{
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: darkslategray;
	nav{
		display: flex;
		justify-content: space-evenly;
		padding-top: 3%;
		width:70%;
		a{
			display:flex;
			justify-content: center;
			text-decoration: none;
			font-size: 2rem;
			width:10%;
			color:black;
			.bodyfonts();
		}
		a:hover{
			text-decoration: underline;
			color:white;
		}
	}
}


#intro{
	display:flex;
	justify-content: center;
	background-image: linear-gradient(darkslategray,thistle);
	border-bottom: 1px solid black;
	.nameme{
		display:flex;
		flex-direction: column;
		align-items: center;
		width:45%;
		margin: 10% 0;
		padding: 5% 0;
		border: 2px solid black;	
		h1{
			font-size: 4rem;
			.headingfonts();
			
			@media (max-width:500px){
				font-size: 2rem;
			}

		}
		p{
			font-size: 2rem;
			.headingfonts();
			
			@media (max-width:500px){
				font-size: 1.4rem;
			}

		}
	}
}	
.container{
	display:flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	background-image: linear-gradient(thistle,rgb(187, 176, 187));

	@media (max-width:500px){
		flex-direction: column;
	}
}

.right{
	border-left: 1px solid black;
	line-height: 350%;
	letter-spacing: 2px;
	padding-left: 2%;
	width: 80%;

	@media (max-width:500px){
		border-right: 1px solid black;
		width:100%;
	}	
	h3{
		.headingfonts();
		font-size: 2.4rem;
		font-weight: bold;
		border-bottom: 1px solid black;

		@media (max-width:500px){
			font-size: 1.6rem;
		}
	}
	h5{
		.headingfonts();
		font-size: 1.8rem;
		font-weight: 550;
		
		@media (max-width:500px){
			font-size: 1.4rem;
		}
	}
	h6{
		.headingfonts();
		font-size: 1.6rem;
		font-style: italic;

		@media (max-width:500px){
			font-size: 1.2rem;
		}
	}
	p{
		.bodyfonts();
		padding: 2% 0;

		@media (max-width:500px){
			font-size: 1rem;
		}
	}
}

.left{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width:20%;
	max-width: 100%;
	padding: 0 3%;

	@media (max-width:500px){
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		border-top: 1px solid black;
	}
	
	div{
		.bodyfonts();
		font-size:1.3rem;
		line-height: 200%;
		
	}
	
	h3{
		.headingfonts();
		font-size: 2rem;
		font-weight: bold;
		border-bottom: 1px solid black;
	}

	h5{
		font-weight: bold;
	}
}